<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Autostop</a>
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="HeaderController">
    <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
            <a href="#!/{{item.link}}">{{item.title}}</a>
        </li>
    </ul>
    <ul ng-show="global.authenticated" class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{global.user.name}}&nbsp;<b
                    class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/signout">Sign-out</a></li>
            </ul>
        </li>
    </ul>
    <div ng-hide="global.authenticated" class="navbar-form navbar-right" ng-controller="SigninController">
        <button class="btn btn-primary btn-lg" ng-click="open()">Войти</button>
    </div>
</div>