<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
    <h3>Регистрация</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" name="signupForm" novalidate ng-submit="signup()">
        <div class="form-group" ng-class="{'has-error': signupForm.name.$invalid && signupForm.name.$dirty}">
            <label class="control-label col-sm-4" for="name">Имя и фамилия:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="name" name="name" placeholder="Иван Иванов" required ng-model="user.name"/>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': signupForm.email.$invalid && signupForm.email.$dirty}">
            <label class="control-label col-sm-4" for="email">E-mail:</label>
            <div class="col-sm-8">
                <input class="form-control" type="email" id="email" name="email" required placeholder="name@company.com" ng-model="user.email"/>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': signupForm.phone.$invalid && signupForm.phone.$dirty}">
            <label class="control-label col-sm-4" for="phone">Телефон:</label>
            <div class="col-sm-8">
                <input class="form-control" type="tel" id="phone" name="phone" placeholder="+7 123 456 7890" required ng-model="user.phone"/>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': signupForm.password.$invalid && signupForm.password.$dirty}">
            <label class="control-label col-sm-4" for="password">Пароль:</label>
            <div class="col-sm-8">
                <input class="form-control" type="password" id="password" name="password" placeholder="Пароль" required ng-model="user.password"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Зарегистрироваться"/>
            </div>
        </div>
    </form>
</div>