<form class="form-horizontal" name="routeForm"
      ng-submit="ok()">
    <div class="modal-header">
        <h3 ng-switch on="mode">
            <span ng-switch-when="create">Создание маршрута</span>
            <span ng-switch-when="edit">Редактирование маршрута</span>
        </h3>
        <h4>{{title()}}</h4>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label for="icon" class="control-label col-sm-4">Значок:</label>

            <div class="col-sm-8">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="origin">Откуда:</label>

            <div class="col-sm-8">
                <select-location location="route.origin" required="true"></select-location>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="destination">Куда:</label>

            <div class="col-sm-8">
                <select-location location="route.destination" required="true"></select-location>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="Сохранить изменения" ng-disabled="routeForm.$invalid"/>
        <input class="btn btn-default" value="Не сохранять изменения и закрыть" type="button" ng-click="cancel()"/>
    </div>
</form>